.test-scroller {
    width: 100%;
    height: 200px;
    .div1 {
        background-color: red;
    }
    .div2 {
        background-color: black;
    }
    .div3 {
        background-color: blue;
    }
}