.nd-preview-main {
  padding: 140px 40px 40px;
  font-size: 14px;
  color: #333;
  .nd-preview-header {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    z-index: 2;
    height: 120px;
    line-height: 120px;
    padding: 0 64px;
    font-size: 36px;
    color: #fff;
    background-color: #05d380;
    box-sizing: border-box;
    .nd-preview-story {
      &:before {
        margin: 0 0.5em;
        content: "-";
      }
    }
  }
  .markdown-preview {
    position: relative;
  }
  .markdown-body {
    display: inline-block;
    width: 80%;
    pre {
      position: relative;
      padding: 25px 15px 15px 15px;
      border: solid 1px rgba(51,51,51,0.12);
      background: #f5f2f0;
      
      code {
        position: relative;
        font-size: 1.1rem;
        color: black;
        font-family: 'Inconsolata', Monaco, Consolas, 'Andale Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        line-height: 1.4;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }

      &::before {
        content: 'NowUI/code';
        position: absolute;
        padding: 1px 5px;
        background: #e8e6e3;
        top: 0;
        left: 0;
        -webkit-font-smoothing: antialiased;
        color: #555;
        font-size: .9rem;
        border: solid 1px rgba(51,51,51,0.12);
        border-top: none;
        border-left: none;
      }
    }
  }
  .preview-nav {
    position: fixed;
    top: 140px;
    right: 40px;
    float: right;
    width: 180px;
    li {
      list-style: none;
      padding: 2px 0;
      font-weight: 500;
      padding-left: 18px;
      border-left: 2px solid transparent;
      cursor: pointer;
      font-weight: 300;
      color: #757575;
      line-height: 1.5rem;
      letter-spacing: .4;

      &.actived {
        border-left-color: #05d380;
        color: #555;
      }

      &:hover:not(.actived) {
        border-left-color: rgba(5, 211, 128, 0.4);
        color: #666;
      }
    }
  }
}