
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
}

* {
    cursor: url(./images/touch_custor.png) 10 10,pointer!important;
}
html, body {
    font-family: -apple-system-font, 'Helvetica Neue','Microsoft YaHei', Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    background: transparent;
    // -webkit-user-select: none;
    // -webkit-user-drag: none;
    position: relative;
    box-sizing:border-box;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    ::-webkit-scrollbar-button:vertical {
       background-color: rgba(0,0,0,0);
       border: 0px;
    }
}

html {
    overflow: auto;
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}

button, input {
    font-family: -apple-system-font, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
    color: #0079FF;
}

ol, ul  {
    list-style: none;
}

i {
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

.hide {
    display: none;
}

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}.hljs,.hljs-subst{color:#444}.hljs-comment{color:#888888}.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}.hljs-title,.hljs-section{color:#880000;font-weight:bold}.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}.hljs-literal{color:#78A960}.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
body {
    box-sizing: border-box;
}
